@import 'variables';

@media (min-width: 768px) {
  form {
      ion-grid {
          width: 50%;
      }
  }
}


ion-toolbar {
  text-align: center;
  --background: var(--color-primary);
  color: var(--color-secondary);
}

form {
  padding: 16px;
}

.login-content {
  ion-grid {
    --background: var(--color-secondary);
    ion-row {
      ion-col {
        ion-item {
          margin-bottom: 8px;
          background-color: var(--color-secondary);
          border-radius: 10px;
          ion-label {
            color: var(--color-primary);
            font-weight: bold;
          }
          ion-input {
            border-radius: 10px;
            border: none;
            padding: 10px;
            &::-webkit-input-placeholder {
              color: var(--ion-color-medium);
            }
          }
        }
      }
    }
    ion-row {
      ion-col {
        ion-button {
          --background: var(--color-secondary)
          margin-top: 16px;
          background-color: var(--color-contrast-secondary);
          color: var(--color-primary);
          width: 100%;
          border-radius: 10px;
          font-weight: bold;
          // &[color="light"] {
          //   color: var(--color-contrast-secondary);
          // }
        }
      }
    }
  }
}
